/*
Write a Sass file that assigns:

    Text color #FF0000 to button tags
    When the user hovers over button tags, text color should change to #00FF00
    You must use nested declarations

*/

$color: #FF0000;
$button-color: #00FF00;

button{
    color: $color;

    button:hover{
    color: $button-color;
}

}